<div class="nav">
  <form action="/search" method="GET">
    <input
      #search
      id="search"
      name="search"
      type="text"
      pattern="[a-zA-Z0-9-!-&-$- ]+"
      placeholder="[A-Z/0-9]"
    />
    <i class="fa fa-search"></i>
  </form>
  <a href="/home">
    <img
      class="desk-logo"
      src="../../../../assets/img/spotify-logo.png"
      alt="logo"
    />
  </a>
  <a href="/home">
    <img
      class="mob-logo"
      src="../../../../assets/img/mobile-logo.png"
      alt="logo"
    />
  </a>
  <nav>
    <a
      class=" fa fa-home desk-btn"
      href="home"
      [ngClass]="{ active: location == '/home' }"
    >
      Home</a
    >
  </nav>
</div>
